In [11]:
import pandas as pd
import numpy as np
import folium

In [12]:
data = pd.read_csv('data/Parcels.csv')

In [13]:
#Drop missing zip codes and sales price
data = data.replace({'ZIPNUM': '0'}, np.nan)
dropped_zip = data.dropna(subset=['ZIPNUM'])
dropped_zip = dropped_zip.dropna(subset=['TOTSALPRICE'])


#Looking at only residential data and sales after 2019
dropped_zip = dropped_zip.loc[dropped_zip['LAND_CLASS_DECODE'] == 'Residential Less Than 10 Acres']
dropped_zip = dropped_zip.loc[dropped_zip['DEED_DATE'] > '2019/01/01 00:00:00+00']
dropped_zip

,OBJECTID,PIN_NUM,CALC_AREA,REID,MAP_NAME,OWNER,ADDR1,ADDR2,ADDR3,DEED_BOOK,...,STRUCTURE,SITE,TOTSTRUCTS,TOTUNITS,OLD_PARCEL_NUMBER,ZIPNUM,SHAPEAREA,SHAPELEN,PARCEL_PK,LAND_CODE
20,53227838,7.216807e+08,0.205975,232477.0,0721 02,"GASPER, TAMMI L",406 BERGEN AVE,APEX NC 27502-4852,NaN,017447,...,1110.0,6100.0,1.0,1.0,645--,27502.0,8972.273327,385.927244,123369.0,R
53,53227871,6.678627e+08,0.358558,276306.0,0667 02,"MENTRUP, MICHAEL MENTRUP, CHELSE",1628 MCLAURIN LN,FUQUAY VARINA NC 27526-9406,NaN,017801,...,1110.0,6100.0,1.0,1.0,--,27526.0,15618.798230,542.356426,82016.0,R
62,53227880,7.705613e+08,0.743761,286469.0,0770 02,"BIJLANI, ROBIN VINCI, JOY",3212 HIGH LONESOME LN,APEX NC 27539-5606,NaN,017405,...,1110.0,6100.0,1.0,1.0,699-00000-0000,27539.0,32398.208820,772.193037,203517.0,R
90,53227908,6.499775e+08,0.103309,319468.0,0649 02,"ELMZOUDI, ABDELKEBIR YASSINE RANDOUR, IIHAM",108 SANCHEZ CT,HOLLY SPRINGS NC 27540-9440,NaN,017603,...,1110.0,6100.0,1.0,1.0,129-00000-0000,27540.0,4500.131848,305.006592,138998.0,R
91,53227909,1.749642e+09,0.952026,88484.0,1749 04,"HILL, DANIEL M HILL, SUE K",1540 FORESTVILLE RD,WAKE FOREST NC 27587-7608,NaN,017495,...,1152.0,6100.0,1.0,1.0,266-00000-0067,27587.0,41470.258470,950.437530,273189.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379380,53607288,6.563228e+08,0.185605,464986.0,0656 03,"HIA, KYLE JAMES",2382 VALLEY DALE DR,FUQUAY VARINA NC 27526,NaN,017722,...,1110.0,6100.0,1.0,1.0,--,27526.0,8084.969641,365.100103,488246.0,R
379382,53607290,6.563330e+08,0.162533,464971.0,0656 03,"SCHWARZWELLER, THOMAS CHRISTOPHER SCHWARZWELLE...",1127 CLEARWOOD LN,FUQUAY VARINA NC 27526-2807,NaN,017780,...,0.0,6100.0,1.0,0.0,--,27526.0,7079.921018,357.997605,488231.0,R
379384,53607292,6.563333e+08,0.162530,464955.0,0656 03,"WARE, ZACHARY THOMAS WARE, CORIE WATSON",1125 MATISSE DR,FUQUAY VARINA NC 27526-2808,NaN,017747,...,1110.0,6100.0,1.0,1.0,--,27526.0,7079.810844,357.999880,488215.0,R
379449,53607357,1.704966e+09,0.168436,465789.0,1704 12,"GARNER, SAMUEL MICHAEL R GARNER, JESSICA ANNE",1347 COURTLAND DR,RALEIGH NC 27604-1370,NaN,017837,...,1110.0,6100.0,1.0,1.0,--,27604.0,7337.087839,404.334931,489109.0,R
379450,53607358,1.704967e+09,0.179453,465788.0,1704 12,"BARRORD, JOHN V",1349 COURTLAND DR,RALEIGH NC 27604-1370,NaN,017829,...,1110.0,6100.0,1.0,1.0,--,27604.0,7816.970658,409.690679,489108.0,R

In [19]:
dropped_zip.astype({'TOTAL_VALUE_ASSD': 'float'}).dtypes
group = dropped_zip.groupby(["ZIPNUM"])
group = group["TOTSALPRICE"].mean()
group = round(group.reset_index(), 0)
group['ZIPNUM'] = group['ZIPNUM'].astype(str)
#group.to_csv('data/zip_by_sales_price_2019.csv')
data = pd.read_csv('data/zip_by_sales_price_2019.csv')
data['ZIPNUM'] = data['ZIPNUM'].astype(str)
data['TOTSALPRICE'] = round(data['TOTSALPRICE'], -3)
data

    Unnamed: 0 ZIPNUM  TOTSALPRICE
0            1  27501       268000
1            2  27502       370000
2            3  27511       314000
3            4  27513       371000
4            5  27518       444000
5            6  27519       458000
6            7  27520       207000
7            8  27522       174000
8            9  27523       509000
9           10  27526       295000
10          11  27529       227000
11          12  27539       369000
12          13  27540       364000
13          14  27545       243000
14          15  27560       340000
15          16  27562       405000
16          17  27571       341000
17          18  27587       357000
18          19  27591       215000
19          20  27592       259000
20          21  27596       184000
21          22  27597       216000
22          23  27601       371000
23          24  27603       276000
24          25  27604       243000
25          26  27605       645000
26          27  27606       320000
27          28  27607       483000
28          29  27608       621000
29          30  27609       399000
30          31  27610       197000
31          32  27612       373000
32          33  27613       378000
33          34  27614       445000
34          35  27615       345000
35          36  27616       237000
36          37  27617       339000
37          38  27703       293000

In [28]:
map = folium.Map(location=[35.8032, -78.5661], default_zoom_start=15)
map.choropleth(geo_data="data/nc_zip_geo2.json",
             data=data, # my dataset
             columns=['ZIPNUM', 'TOTSALPRICE'],
             key_on='feature.properties.ZCTA5CE10', # this path contains zipcodes in str type, this zipcodes should match with our ZIP CODE column
             fill_color='BuPu', fill_opacity=.7, line_opacity=.2,
             legend_name='Mean Sales Price')
map
map.save('index.html')